.box {
    width: 50%;
    height: 900px;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(1, 40, 216);
    margin: 0 auto;

    position: relative;
}
h1 {
    font-size: 15px;
    text-transform:uppercase;
    text-align: center; 
}
.blok_1 {
    background-color: rgb(255, 0, 0);
}
.blok_2 {
    background-color: rgb(0, 255, 55);
}
.blok_3 {
    background-color: rgb(238, 255, 0);
}